.hero_section {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/banner/banner.png");
  padding-top: 250px;
  @media (max-width: 991.99px) {
    padding-top: 125px;
  }
}
