$theme-color-primary: #212529;
$theme-color-secondary: #e91f27;
$theme-color-white: #fff;
$theme-color-black: #000;
$theme-color-one: #00cccc;
$theme-color-two: #f8f8f8;
$theme-color-three: #e2e2e2;
$theme-color-arsh: #696e78;
