.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  .left_image {
    img {
      height: 300px;
      width: 450px;
    }
  }

  .contact-form-box {
    .form-group {
      padding: 10px;
    }
    .nav_button1 {
      color: $theme-color-white;
      background: radial-gradient(#69d7f3 2%, #3bb6d5 70%);
      border: 1px solid;
    }
  }
}
